* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html::-webkit-scrollbar {
    display: none
}

html {
    scrollbar-width: none;
}

body {
    background-color: #F1FAEE;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: rgb(182, 11, 11);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: rgb(182, 11, 11) !important;
}